{% extends "base.html" %}



{% block content %}


<div class="container" style="margin-top:100px;">
    <table class="table table-primary">
        <thead>
            
          <tr style="border: solid 5px blue;">
            <th scope="col">title</th>
            <th scope="col">content</th>
            <!-- <th scope="col">update</th> -->
            <th scope="col">delete</th>
          </tr>
        </thead>
        <tbody>
            {% for item in item %}
            <tr style="border: solid 5px blue;">
                <td style="padding-top: 80px;"><h3>{{item.title}}</h3></td>
                <td> <div style="height: 200px;width: 300px;overflow-y:scroll;border: solid ;" > {{item.content}}</div></td>
                <!-- <td style="padding-top: 80px;"><a href="" class="btn btn-primary">edit</a></td> -->
                <td style="padding-top: 80px;"><a href="{% url 'todo:delete_todo_item' item.slug  %}" class="btn btn-danger">delete</a></td>
            </tr>
              
            {% endfor %}
          
           
        </tbody>
    </table>
</div>

    <div class="container mt-5 mb-5" id="div" style="padding-left: 100px;">
        <p style="color: green;padding-top:20px">ADD YOUR TODOITEM</p>
      <form action="" method="POST" >
        {% csrf_token %}
        <div class="form-row">
          <div class="form-group col-md-6">
            <label>title</label>
            <input type="text" class="form-control" name="title" id="" placeholder="title" required >
          </div>
          <div class="form-group col-md-6">
            <label>content</label>
            <textarea type="text" style="width: 250px;height:300px" class="form-control" name="content" id="" placeholder="content" required></textarea>
          </div>
          <div class="form-group col-md-6">
            <label>time</label>
          
            <input type="datetime-local" datetime="YYYY-MM-DDThh:mm:ssTZD"  class="form-control" name="time_todo" required >
          </div>
          <!-- <div class="form-group col-md-6">
            <label>todolist</label>
          
            <input type="text" datetime="YYYY-MM-DDThh:mm:ssTZD"  class="form-control" name="todolist" >
          </div> -->
          <div class="form-group col-md-6">
            <label>slug</label>
            
            <input type="slug"  class="form-control" name="slug" placeholder="slug" required >
          </div>
        <button type="submit" class="btn btn-primary mt-3 mb-5">post</button>
        </div>
        
      </form>
      
    </div>



<style>
    .table{
        margin: auto;
        width: 800px;
    }
    td{
        align-items: center;
    }

    #div{
        width: 600px;
        margin-bottom: 50px;
        margin: auto;
        padding: auto;
        background-color: chocolate;
    }
    a{
        text-decoration: none;
    }
    #td5{
        width: 300px;
        height: 200px;
        overflow-y: scroll;
    }
    
</style>

{% endblock content %}